<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/eventimage.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <p class="category">Upcoming/Ongoing Events </p>
                <div >
                    <button type="button" (click)="routeToCreateEvent()" class="btn btn-default" placement="right">
                        Create Event
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-tabs" *ngIf="!expandEvent">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2  class="h1-seo">My Events</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto" *ngFor="let event of eventList">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">{{event.title}}</h2>
                            <h5 class="description">{{event.description}}
                            </h5>
                        </div>
                    </div>
                    <div class="separator separator-primary"></div>
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <button type="button" class="btn btn-primary btn-round" (click)='viewEvent(event)'>View</button>
                    </div>
                </div>
                <div style="height: 50px;"></div>
            </div>
        </div>
    </div>
</div>

<div  *ngIf='expandEvent'>
        <div class="section section-about-us" [style.background-color] = "backgroundColorList[0]">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">{{selectedEvent.title | json}}</h2>
                        <h5 class="description">{{selectedEvent.description | json}}
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="col-md-8 ml-auto mr-auto text-center">
                        <button type="button" class="btn btn-primary btn-round">Submit Files</button>
                    <button type="button" class="btn btn-primary btn-round">Submit Video</button>
                    <button type="button" class="btn btn-primary btn-round" (click)="backtoevents()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>

    <footer class="footer bg-primary" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://ribboncommunications.com/">
                            Ribbon Communications
                        </a>
                    </li>
                    <li>
                        <a href="https://ribboncommunications.com/about-us">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by Team Eventually
            </div>
        </div>
    </footer>