.card {
    height: 200px;
}

.event-name {
    text-align: center;
    line-height: 200px;
}

.register-button {
    float: right;
}

.btn {
    background-color: lightpink;
}

.checbox-event{
    width: 45px  !important;
}