<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-color: #2CA8FF">

    </div>
    
    <div class="container">
        <div class="content-center brand">
            <div class="createEvent">
                <div class="p-col-12 p-md-6">
                    <label class="mandatory" for="tite">Event Name : </label>&nbsp;
                    <input type="text" pInputText id="title" placeholder="title"
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
                </div>
                <div class="p-col-12 p-md-6">
                    <label for="desc">Description : </label>&nbsp;
                    <textarea id="desc" pInputText class="ui-width-100"></textarea>
                </div>
                <div>
                    <div class="datepicker-container">
                        <div class="form-group">
                            <label for="desc">Event Start Date : </label>&nbsp;
                            <input class="datetimepicker" placeholder="24/02/2021" name="dp1" [(ngModel)]="model"
                                ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="datepicker-container">
                        <div class="form-group">
                            <label for="desc">Event End Date : </label>&nbsp;
                            <input class="datetimepicker" placeholder="24/02/2021" name="dp2" [(ngModel)]="model1"
                                ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="datepicker-container">
                        <div class="form-group">
                            <label for="desc">Registration Start Date : </label>&nbsp;
                            <input class="datetimepicker" placeholder="24/02/2021" name="d3" [(ngModel)]="model2"
                                ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="datepicker-container">
                        <div class="form-group">
                            <label for="desc">Registration End Date : </label>&nbsp;
                            <input class="datetimepicker" placeholder="24/02/2021" name="dp4" [(ngModel)]="model3"
                                ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()">
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <label class="mandatory" for="tite">Maximum User : </label>&nbsp;
                    <input type="text" pInputText id="title" placeholder=""
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
                </div>
                <div class="p-col-12 p-md-6">
                    <label class="mandatory" for="tite">Minimum User : </label>&nbsp;
                    <input type="text" pInputText id="title" placeholder=""
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
                </div>
                <div class="p-col-12 p-md-6">
                    <label class="mandatory" for="tite">Location : </label>&nbsp;
                    <input type="text" pInputText id="title"  placeholder=""
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget"/>
                </div>
                <div class="p-col-12 p-md-6">
                    <label class="mandatory" for="tite">Accept File Type : </label>&nbsp;
                    <input type="text" pInputText id="title"  placeholder=""
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
                </div>

                <div class="checkbox">
                    <label class="mandatory" for="tite">Accept Video File : </label>&nbsp;
                    <label>
                        <input type="checkbox" ddata-toggle="toggle">
                    </label>
                </div>


                <div>
                    <button type="button"  class="btn btn-default" placement="right">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" placement="right">
                        Cancel
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>