<div class="page-header clear-filter" filter-color="orange" [formGroup]="createEventForm">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-color: #2CA8FF">

    </div>
    <div class="container">
    <div class="content-center brand">
        <div class="createEvent" >
                <div class="p-col-12 p-md-6">
                    <label class="mandatory" for="tite">Event Name : </label>&nbsp;
                    <input type="text" pInputText id="title" formControlName="title" placeholder="title"
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                     />
                </div>
                <div class="p-col-12 p-md-6">
                    <label for="desc">Description : </label>&nbsp;
                    <textarea 
                    [formControl]="desc"
                    id="desc"
                    pInputText
                    class="ui-width-100"></textarea>
                </div>  
                <div>
                <label for="desc">Event Start Date : </label>&nbsp;
                <div class="datepicker-container">
                    <div class="form-group">
                      <input class="datetimepicker" placeholder="24/02/2021"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div> 
            </div>
            <div>
                <label for="desc">Event End Date : </label>&nbsp;
                <div class="datepicker-container">
                    <div class="form-group">
                      <input class="datetimepicker" placeholder="24/02/2021"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div> 
            </div>
            
            <div>
                <label for="desc">Registration Start Date : </label>&nbsp;
                <div class="datepicker-container">
                    <div class="form-group">
                      <input class="datetimepicker" placeholder="24/02/2021"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div> 
            </div>
            <div>
                <label for="desc">Registration End Date : </label>&nbsp;
                <div class="datepicker-container">
                    <div class="form-group">
                      <input class="datetimepicker" placeholder="24/02/2021"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div> 
            </div> 

            <div class="p-col-12 p-md-6">
                <label for="title" class="mandatory">Frequency:</label>
                <p-dropdown  id="title" formControlName="title"
                    [options]="frequencyOptions"></p-dropdown>
            </div>
        </div>
        </div>
    </div>
</div>

