<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-color: #2CA8FF">

    </div>


    <div class="create-event">
        <div class="event-left">
            <div class="event-padding">
                <label class="mandatory" for="tite">Event Name : </label>&nbsp;
                <input type="text" pInputText id="title" placeholder="title" [(ngModel)]="title"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
            </div>
            <div class="event-padding">
                <label for="desc">Description : </label>&nbsp;
                <textarea id="desc" pInputText [(ngModel)]="desc" class="ui-width-100"></textarea>
            </div>
            <div class="event-padding">
                <div class="datepicker-container">
                    <div class="form-group">
                        <label for="desc">Event Start Date : </label>&nbsp;
                        <input class="datetimepicker" placeholder="24/02/2021" name="dp1" [(ngModel)]="eventStartDate"
                            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div>
            </div>
            <div class="event-padding">
                <div class="datepicker-container">
                    <div class="form-group">
                        <label for="desc">Event End Date : </label>&nbsp;
                        <input class="datetimepicker" placeholder="24/02/2021" name="dp2" [(ngModel)]="eventEndDate"
                            ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
                    </div>
                </div>
            </div>

            <div class="event-padding">
                <div class="datepicker-container">
                    <div class="form-group">
                        <label for="desc">Registration Start Date : </label>&nbsp;
                        <input class="datetimepicker" placeholder="24/02/2021" name="d3" [(ngModel)]="regStartDate"
                            ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
                    </div>
                </div>
            </div>
            <div class="event-padding">
                <div class="datepicker-container">
                    <div class="form-group">
                        <label for="desc">Registration End Date : </label>&nbsp;
                        <input class="datetimepicker" placeholder="24/02/2021" name="dp4" [(ngModel)]="regEndDate"
                            ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()">
                    </div>
                </div>
            </div>
        </div>

        <div class="event-right">
            <div class="event-padding">
                <label class="mandatory" for="tite">Maximum User : </label>&nbsp;
                <input type="text" [(ngModel)]="maxUser" pInputText id="maxuser" placeholder=""
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
            </div>
            <div class="event-padding">
                <label class="mandatory" for="tite">Minimum User : </label>&nbsp;
                <input type="text" pInputText id="title" placeholder="" [(ngModel)]="minUser"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
            </div>
            <div class="event-padding">
                <label class="mandatory" for="tite">Location : </label>&nbsp;
                <input type="text" pInputText id="title" placeholder="" [(ngModel)]="location"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
            </div>
            <div class="event-padding">
                <label class="mandatory" for="tite">Accept File Type : </label>&nbsp;
                <input type="text" pInputText id="title" placeholder=""
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget" />
            </div>

            <div class="checkbox">
                <label class="mandatory" for="tite">Accept Video File : </label>&nbsp;
                    <input type="checkbox" class="checkbox-event" [(ngModel)]="acceptFileVideo" ddata-toggle="toggle">
            </div>
        </div>
    </div>
    <div class="btn-container">
        <button type="button" (click)="save()" class="btn btn-default" placement="right">
            Save
        </button>
        <button type="button" (click)="routeToEvent()" class="btn btn-default" placement="right">
            Cancel
        </button>
    </div>

</div>