<div class="wrapper">
    <div class="page-header page-header-small clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/signup.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Registration</h1>
                <h3>Sign yourself for a event. Create a team and add your teammates.</h3>
                <div class="blankSpace" style="height: 50px;"></div>
                
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2  class="h1-seo">Join an event.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h4 class="h1-seo d-inline-block cushionpadding" >Select a Event</h4>
                        <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary d-inline-block" id="dropdownBasic1" ngbDropdownToggle>Select a event</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1 ">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row cushiondiv"></div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h4 class="h1-seo d-inline-block cushionpadding" >Team Name: </h4>
                        <div class="form-group d-inline-block">
                            <input type="text" value="" placeholder="Team Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="h1-seo d-inline-block cushionpadding" >Add Teammates: </h4>
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary d-inline-block" id="dropdownBasic1" ngbDropdownToggle>Select your teammates</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1 ">
                                    <button ngbDropdownItem>Action - 1</button>
                                    <button ngbDropdownItem>Another Action</button>
                                    <button ngbDropdownItem>Something else is here</button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row cushiondiv"></div>
                <div class="row cushiondiv"></div>
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto text-center"></div>
                    <div class="col-md-3 ml-auto mr-auto text-center">
                        <button type="button" class="btn btn-primary btn-round">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-primary" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://ribboncommunications.com/">
                            Ribbon Communications
                        </a>
                    </li>
                    <li>
                        <a href="https://ribboncommunications.com/about-us">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by Team Eventually
            </div>
        </div>
    </footer>
    
</div>