<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/eventimage.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="content-center brand">
                            <h1 class="h1-seo">Technothon</h1>
                            <h3>This event will start in : </h3>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <app-count-down> </app-count-down>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <button type="button" class="btn btn-default" placement="right"></button>
                            <div class="blankSpace" style="height: 50px;"></div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="content-center brand">
                            <h1 class="h1-seo">Technothon</h1>
                            <h3>This event will start in : </h3>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <app-count-down> </app-count-down>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <button type="button" class="btn btn-default" placement="right"></button>
                            <div class="blankSpace" style="height: 50px;"></div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>

    <div class="section section-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto" *ngFor="let n of [1,2,3,4]">
                        <!-- Nav tabs -->
        
                        <div class="card">
                            <span class="event-name">
                                Events Name
                            </span>
                            <button type="button" class="btn btn-default register-button" placement="right">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Technothon</h2>
                        <h5 class="description">Yearly event for all the developers to show their might in there chosen technologies. Developers will get a free hand in developing whatever the want.
                            Do what you want to do developers.
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                You think you got what it takes? 
                <button>Register</button>
            </div>
        </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://ribboncommunications.com/">
                            Ribbon Communications
                        </a>
                    </li>
                    <li>
                        <a href="https://ribboncommunications.com/about-us">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by Team Eventually
            </div>
        </div>
    </footer>
</div>
