<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/eventimage.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <ngb-carousel *ngIf="topEvents.length>0">
                    <ng-template ngbSlide *ngFor="let event of topEvents">
                        <div class="content-center brand">
                            <div class="blankSpace" style="height: 50px;"></div>
                            <h1 class="h1-seo">{{event.title}}</h1>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <app-count-down> </app-count-down>
                            <h3>To Start </h3>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <button type="button" class="btn btn-default" placement="right"></button>
                            <div class="blankSpace" style="height: 50px;"></div>
                        </div>
                    </ng-template>
                    
                </ngb-carousel>
                <ngb-carousel *ngIf="!topEvents.length>0">
                    <ng-template ngbSlide>
                        <div class="content-center brand">
                            <div class="blankSpace" style="height: 100px;"></div>
                            <h1 class="h1-seo">Create Fun Events.</h1>
                            <h3>Now you can create events for your team and Enjoy together. </h3>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <button type="button" class="btn btn-default" placement="right"> Create Event</button>
                            <div class="blankSpace" style="height: 50px;"></div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div  *ngIf='eventList.length>0'>
        <div class="section section-about-us text-center"><h2 class="h1-seo">List of Events:</h2></div>
        <div class="section section-about-us" *ngFor="let event of eventList;let i = index" [attr.data-index]="i" [style.background-color] = "backgroundColorList[i]">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">{{event.title}}</h2>
                        <h5 class="description">{{event.description}}
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <span class="description">You think you got what it takes? </span>
                    <button type="button" class="btn btn-primary btn-round" [routerLink]="['/register']">Register</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section section-about-us" *ngIf='!eventList.length>0'>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Oops!!</h2>
                    <h5 class="description">We do not have any upcoming events for now. Please check back later for new exciting events
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-primary" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://ribboncommunications.com/">
                            Ribbon Communications
                        </a>
                    </li>
                    <li>
                        <a href="https://ribboncommunications.com/about-us">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by Team Eventually
            </div>
        </div>
    </footer>
</div>

