<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/eventimage.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="content-center brand">
                            <h1 class="h1-seo">Technothon</h1>
                            <h3>This event will start in : </h3>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <app-count-down> </app-count-down>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <button type="button" class="btn btn-default" placement="right"></button>
                            <div class="blankSpace" style="height: 50px;"></div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="content-center brand">
                            <h1 class="h1-seo">Technothon</h1>
                            <h3>This event will start in : </h3>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <app-count-down> </app-count-down>
                            <div class="blankSpace" style="height: 50px;"></div>
                            <button type="button" class="btn btn-default" placement="right"></button>
                            <div class="blankSpace" style="height: 50px;"></div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>

    <div class="section section-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto" *ngFor="let n of [1,2,3,4]">
                        <!-- Nav tabs -->
        
                        <div class="card">
                            <span class="event-name">
                                Events Name
                            </span>
                            <button type="button" class="btn btn-default register-button" placement="right">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Tehnothon</h2>
                        <h5 class="description">Yearly event for all the developers to show their might in there chosen technologies. Developers will get a free hand in developing whatever the want.
                            Do what you want to do developers.
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                    <br>
                                    <br>
                                    <small>-NOAA</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                            <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                            <p>
                                For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                            </p>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://ribboncommunications.com/">
                            Ribbon Communications
                        </a>
                    </li>
                    <li>
                        <a href="https://ribboncommunications.com/about-us">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by Team Eventually
            </div>
        </div>
    </footer>
</div>
